:root {
  --primary-color: #2d2833;
  --secondary-color: #3d3943;
  --accent-color: #00e8b0;

  --background-accent-high: rgb(61 57 67 / 76%);
  --background-accent-medium: rgb(61 57 67 / 65%);
  --background-accent-low: rgb(61 57 67 / 32%);

  --success-color: rgba(86, 202, 0, 1);
  --success-color-low: rgba(86, 202, 0, 0.2);

  --info-color: rgba(22, 177, 255, 1);
  --info-color-low: rgba(22, 177, 255, 0.2);

  --warning-color: rgba(255, 180, 0, 1);
  --warning-color-low: rgba(255, 180, 0, 0.2);

  --error-color: rgba(255, 76, 81, 1);
  --error-color-low: rgba(255, 76, 81, 0.2);

  --primary-text-color: #b3b1b5;
  --secondary-text-color: white;
  --accent-text-color: #77747b;

  --box-shadow-color: rgba(19, 17, 32, 0.42);
}

#app-wrapper[data-theme="light"] {
  --primary-color: #f8fafb;
  --secondary-color: #e2e2e2;
  --accent-color: #00a2e8;
  --background-accent-color-low: rgb(255 255 255 / 65%);

  --primary-text-color: rgb(44, 44, 44);
  --secondary-text-color: black;
  --accent-text-color: #77747b;

  --box-shadow-color: rgba(19, 17, 32, 0.42);
}

#app-wrapper[data-theme="dark"] {
  --primary-color: #2d2833;
  --secondary-color: #3d3943;
  --accent-color: #00e8b0;
  --background-accent-color-low: rgb(61 57 67 / 65%);

  --primary-text-color: #b3b1b5;
  --secondary-text-color: white;
  --accent-text-color: #77747b;

  --box-shadow-color: rgba(19, 17, 32, 0.42);
}
