:root, #app-wrapper[data-theme='light'] {
    --primary-color: #2c3e50;
    --complementary-color: #007AF3;
    --background-color: #F2F2F2;

    --logo-filter: invert(0);
}

#app-wrapper[data-theme='dark'] {
    --primary-color: #fff;
    --complementary-color: #003770;
    --background-color: #242122;

    --logo-filter: brightness(0) saturate(0) invert(100%);
}
