@import 'colors';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    #app {

        #nav {
            position: sticky;
            top: 0;
            height: 8vh;
            z-index: 10;
            padding-bottom: 5px;
            background-color: $light-background;
        }

        .router-view {
            height: 83vh;
        }

        footer {
            height: 9vh;
            width: 100vw;
            padding: 5px 10% 0 10%;

            @media only screen and (max-width: 400px) {
                & {
                    padding: 5px 5% 0 5%;
                }
            }
        }
    }
}

a {
    color: #444;
    text-decoration: none;
    font-size: 20px;
    padding: 0 5px 0 5px;
}

ul {
    list-style-type: none;
}

.app-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    height: 100%;
    width: 100%;
}