@import 'colors';
@import 'constants';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: color, background-color $color-transition-duration;
}

a {
    color: #444;
    text-decoration: none;
    font-size: 20px;
    padding: 0 5px 0 5px;
}

ul {
    list-style-type: none;
}

.app-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    background-color: $primary-bg-color;
    color: $page-fg-color;
}
