$light-primary-color: #2c3e50;
$light-background: #F2F2F2;
$light-complementary-color: #007AF3;
$dark-background: #242122;
$dark-primary-color: #fff;
$dark-complementary-color: #000;
$darker-white: rgb(250, 250, 250);
$modal-background: rgba(0, 0, 0, .75);